---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderImg from "../components/layout/HeaderImg.astro";
---

<BaseLayout title="About" description="Detaljer om hva Fyrstikken handler om">
  <HeaderImg variant="smal" slot="header" />
  <h1 slot="pageTitle">Om Fyrstikken</h1>
</BaseLayout>
