---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeaderImg from "../components/layout/HeaderImg.astro";
---

<HeaderImg variant="smal" />
<BaseLayout title="About" description="Detaljer om hva Fyrstikken handler om">
  <h1 slot="pageTitle">Om Fyrstikken</h1>
</BaseLayout>
