---
import BaseLayout from "../layout/BaseLayout.astro";
import YearsList from "../components/YearsList.astro";
import { getBasePath } from "../utils/paths";
import { getAllYears } from "../lib/sanity-client";

const basePath = getBasePath();
const years = await getAllYears();
---

<BaseLayout title="Fyrstikken - Års" description="Utforsk Fyrstikken priser gjennom årene">
  <h1 slot="pageTitle">Fyrstikken gjennom årene</h1>

  <YearsList years={years} basePath={basePath} />
</BaseLayout>
