---
interface IEmbedProps {
  node: {
    url: string;
    height?: number;
  };
}

const { node } = Astro.props as IEmbedProps;
const height = node.height ?? 450;
---

<div class="embed-container" style={`height: ${String(height)}px`}>
  <iframe src={node.url} title="Embedded content" frameborder="0" allowfullscreen></iframe>
</div>

<style>
  .embed-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: 2rem 0;
  }

  .embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
